In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("taxi_zone_lookup.csv")

In [6]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       264 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [8]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [9]:
print(pd.io.sql.get_schema(df, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
file_iterator = pd.read_csv('taxi_zone_lookup.csv', chunksize=1000)

In [13]:
count = 0 
for batch_df in file_iterator:
        count += 1
        # Removed b_start
        
        # Determine the 'if_exists' strategy
        if count == 1:
            if_exists_strategy = 'replace'
            print(f"Inserting batch {count}...")
        else:
            if_exists_strategy = 'append'
            print(f"Inserting batch {count}...")

        batch_df.to_sql(
            name='Zone',
            con=engine,
            if_exists=if_exists_strategy,
            index=False,
            chunksize=10000, 
            method='multi' 
        )
        
        # Removed batch insertion time print
        print(f"Inserted batch {count}.\n")